<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Blend
Description: A three-column, fixed-width blog design.
Version    : 1.0
Released   : 20090303

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Calculator page</title>
<meta name="keywords" content="" />
<meta name="Blend" content="" />
<link href="/stylesheets/default.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<!-- start header -->
<div id="header">
	<div id="logo" style="font-variant:small-caps">
		<h1><b><i><a href="#">CALCULATOR</a></i></b></h1>
		<p><sub>Designed By <blink><b>Team  <i>'A'</i></b></blink></sub></p>
	</div>
	<div id="menu">
		<ul id="main">
			<li class="current_page_item"></li>
			<li><a href="#"><font color="black">.</font>&nbsp;   &nbsp;   &nbsp;   &nbsp;&nbsp;   &nbsp;   &nbsp;   &nbsp;&nbsp;   &nbsp; &nbsp;   &nbsp;   &nbsp;   &nbsp;&nbsp;   &nbsp;   &nbsp;  
			&nbsp;&nbsp;   &nbsp;   &nbsp;   &nbsp;&nbsp;   &nbsp;   &nbsp;   &nbsp;&nbsp;   &nbsp;   &nbsp;   &nbsp;&nbsp;   &nbsp;   &nbsp;   &nbsp;&nbsp;   
			
			&nbsp;   &nbsp;   &nbsp;&nbsp;   &nbsp;   &nbsp;   &nbsp;&nbsp;   &nbsp;   &nbsp;   &nbsp;  &nbsp;   &nbsp;&nbsp;  &nbsp;   &nbsp;   &nbsp;&nbsp;   &nbsp;   &nbsp;   &nbsp;&nbsp;   &nbsp;   &nbsp;   &nbsp;  &nbsp;   &nbsp;&nbsp;  &nbsp;   &nbsp;   &nbsp;&nbsp;   &nbsp;   &nbsp;   &nbsp;&nbsp;   &nbsp;   &nbsp;   &nbsp;  &nbsp;   &nbsp;&nbsp;  
			&nbsp;   &nbsp;   &nbsp;&nbsp;   &nbsp;   &nbsp;   &nbsp;&nbsp;   &nbsp;   &nbsp;   &nbsp;  &nbsp;   &nbsp;&nbsp;  &nbsp;   &nbsp;   &nbsp;&nbsp;   &nbsp;   &nbsp;   &nbsp;&nbsp;   &nbsp;   &nbsp;   &nbsp;  &nbsp;   &nbsp;&nbsp;  
						   &nbsp;&nbsp; &nbsp;&nbsp;   &nbsp;   &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;   &nbsp;  &nbsp;&nbsp; &nbsp;&nbsp;   &nbsp;  
						   &nbsp;   &nbsp;   &nbsp;&nbsp;   &nbsp;   &nbsp;   &nbsp;&nbsp;   &nbsp;   &nbsp;   &nbsp;  &nbsp;   &nbsp;&nbsp;<font color="black">.</font></a>  </li> <li><a href="/operations/logout"> LOGOUT </a></li>   
			 
			

		</ul>
		
	</div>
	
</div>
<!-- end header -->
<div id="wrapper">
	<!-- start page -->
	<div id="page">
		<div id="sidebar1" class="sidebar">
			
				
				
				
			
		</div>
		<!-- start content -->
		<div id="content">
			<div class="post">
				<h1 class="title">Welcome to Our Application!;
				</h1><p class="byline"><small>Posted on December 8, 2010 by Team 'A'</small></p>
				</div>
			<div class="calci">
			
		                                                        	<%=yield%> 
			</div>
				<div class="entry">
					
					
					
					
				
			</div>
			<div class="post">
				<div class="entry">
				</div>
			</div>
		</div>
		<!-- end content -->
		<!-- start sidebars -->
		<div id="sidebar2" class="sidebar">
			<ul>
				<li>
					<form id="searchform" method="get" action="#">
						<div>
							
						</div>
					</form>
				</li>
				<li>
					
				
					
				</li>
			</ul>
		</div>
		<!-- end sidebars -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end page -->
</div>
<div id="footer">
	<p>&copy;2010 All Rights Reserved. &nbsp;&bull;&nbsp; Design by <a href="http://0.0.0.0.3000:operations/login"></a>Team 'A'</p>
</div>
</body>
</html>
